.conteudo-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
	z-index: 1;
}

#pesquisar {
	margin-top: 20px;
	height: 50px;
	width: 150px;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	color: #7097fd;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

#pesquisar:hover {
	transform: translate(0, -6px);
}

