
#background {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
}

.nuvens-container{
    height: 100%;
    width: 100%;
}

.nuvens {
    background:transparent url(../img/clouds.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    animation: mover-nuvens 15000s linear infinite;
}


@keyframes mover-nuvens {
    from {background-position:0 0;}
    to {background-position:250000px 0;}
}